/*********************************
NABEAT

neu definierte Farben

grün:   #99CC00
orange: #FF6600
braun:  #663300
*************************************/

.menu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% Verdana, Arial, Helvetica, sans-serif;
	font-size:12pt;
	font-weight:bold;
	}
.menu ul{
	background:#99cc00;
	height:30px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.menu li{
		float:left;
		padding:0px;
		}
	.menu li a{
		background:#99cc00 url("/platform/mo/nabeat/common/skins/menu/seperator.gif") bottom right no-repeat;
		color:#663300;
		display:block;
		font-weight:bold;
		line-height:30px;
		margin:0px;
		padding:0px 8px;
		text-align:center;
		text-decoration:none;
		}
		.menu li a:hover, .menu ul li:hover a{
			background: #FF6600 url("/platform/mo/nabeat/common/skins/menu/hover.gif") bottom center no-repeat;
			color:#ffffff;
			text-decoration:none;
			}
	.menu li ul{
		background:#99cc00;
		display:none;
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:220px;
		z-index:2000;
		/*top:1em;
		/*left:0;*/
		}
	.menu li:hover ul{
		display:block;
		
		}
	.menu li li {
		background:url('/platform/mo/nabeat/common/skins/menu/sub_sep.gif') bottom left no-repeat;
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:220px;
		}
	.menu li:hover li a{
		background:none;
		
		}
	.menu li ul a{
		display:block;
		height:30px;
		font-size:12px;
		font-style:normal;
		margin:0px;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
	.menu li ul a:hover, .menu li ul li:hover a{
			background:#FF6600 url('/platform/mo/nabeat/common/skins/menu/hover_sub.gif') center left no-repeat;
			border:0px;
			color:#ffffff;
			text-decoration:none;
			}
	.menu p{
		clear:left;
		}	

		