.jstree-themeicon {
	display: none !important
}

#speciesTree a.jstree-anchor-group {
	color: red;
}

#speciesTree a.jstree-anchor-order {
	color: fuchsia;
}

#speciesTree a.jstree-anchor-family {
	color: #008B8B;	
}

#speciesTree a.jstree-anchor-specie {
	color: blue;
}